@page
@model FunWithStyleTransfer.Pages.ModelSpecificationModel
@{
    ViewData["Title"] = "Model Specification Page";
}

<div class="text-center">
    <h1 class="display-4">TODO - A table of available models and their required image + general model info (training data, etc.)</h1>
</div>