@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Uploaded images are saved to a temporary folder, the contents of which is deleted once per day.</p>
